body {
	max-width: 1920px;
	margin: auto;
	font-family: 'Rajdhani', sans-serif;
	font-weight: 500;
}

.navbar {
	margin-top: 5px;
	margin-right: -5px;
	width: 100%;
	text-align: end;
}

.main-button {
	border: none;
	padding: 8px 15px 8px 15px;
	background: #FF8500;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
}

.main-button:disabled {
	background: #2e2d2b;
	color: rgb(189, 189, 189);
}

.main-button:enabled:hover {
	background: #EA7B00;
	color: #fff;
}

.main-button:disabled:hover {
	background: #2e2d2b;
	color: rgb(189, 189, 189);
}

#create-query-view {
    margin: auto;
    width: min-content;
	display: block;
	margin-top: 5vh;
}

.form-field {
    display: grid;
    grid-template-columns: 120px 220px;
    grid-template-rows: min-content min-content;
    grid-gap: 5px;
}

#person-birth-day-add-form label {
    align-self: center;
}

#person-birth-day-add-form .error-message {
    align-self: flex-start;
    justify-self: start;
    grid-column-start: 2;
    color: rgb(163, 0, 0);
	min-height: 2em;
	padding: 5px 0px;
}

.input-field-file {
    cursor: pointer;
	position: relative;
	text-align: center;
} 


.input-field-file input[type="file"] {
	opacity: 0;
	position: absolute;
	width: 90%;
	margin: 5%;
}

.input-field-file label {
	width: 100%;
	display: inline-block;
	background: white;
}

/* input[type="file"] + label {
	opacity: 0;
	position: absolute;
	width: 100%;
} */

.input-field , .input-field-file label
{
    align-self: center;
	box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	padding: 7px;
	outline: none;
}

#person-birth-day-add-form span.required{
	color:red;
}
#person-birth-day-add-form input:focus{
	border: 2px solid rgb(4, 0, 255);
}

#person-birth-day-add-form .valid{
	border: 2px solid rgb(68, 216, 0);
}

#person-birth-day-add-form .invalid{
	border: 2px solid rgb(255, 0, 0);
}

.form-field button{
	grid-column: span 2;
}

@keyframes toggleViewAniamtion {
    from {
        transform: scale(1);
		opacity: 1;
    }
	to {
        transform: scale(0);
        opacity: 0;
	}
  }
