body {
	padding-top: 5vh;
}

.navbar {
	position: absolute;
	top: 1vh;
	right: 1vw;
}

.main-button {
	border: none;
	padding: 8px 15px 8px 15px;
	background: #FF8500;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
}

#toogleViewButton:disabled {
	background: #2e2d2b;
	color: rgb(189, 189, 189);
}

.main-button:hover{
	background: #EA7B00;
	color: #fff;
}

#toogleViewButton:disabled:hover {
	background: #2e2d2b;
	color: rgb(189, 189, 189);
}

#createView {
    margin: auto;
    width: min-content;
    --set-font-size: 1.0em;
    --inputs-width: 48%;
    --labels-width: 20%;
	display: block;
	margin-top: 5vh;
}

.formField {
    display: grid;
    grid-template-columns: 120px 220px;
    grid-template-rows: 30px 30px;
    grid-gap: 5px;
}

#createView label {
    align-self: center;
    
}

#createView .errorMessage {
    align-self: flex-start;
    justify-self: start;
    grid-column-start: 2;
    color: rgb(163, 0, 0);
}

#createView .input-field-image {
    outline: none;
    align-self: center;
}

.input-field
{
    align-self: center;
	box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	padding: 7px;
	outline: none;
}

#createView span.required{
	color:red;
}
#createView input:focus{
	border: 2px solid rgb(4, 0, 255);
}

#createView .valid{
	border: 2px solid rgb(68, 216, 0);
}

#createView .invalid{
	border: 2px solid rgb(255, 0, 0);
}

#createView .formField button{
	grid-column: span 2;
}

@keyframes toggleViewAniamtion {
    from {
        transform: scale(1);
		opacity: 1;
    }
	to {
        transform: scale(0);
        opacity: 0;
	}
  }
