#showView {
    margin: 5vh 0 0 0;
    width: 100%;
    display: none;
    
}

#calendarHeader {
    display: grid;
    grid-template-columns: repeat(4,min-content);
    grid-template-rows: 12vh;
    place-items: center;
}

#calendarHeader p {
    font-size: max(5vw,4vh);
    padding: 0px 10px;
}

#calendarHeader button {
    background:  #EBEBEB;
    color: black;
    box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
    border: none;
    padding: 15px;
    margin: 5px;
    font-size: max(3vw,2vh);
}

@media only screen and (min-width: 750px) {
    #calendarHeader p {
        font-size: min(5vw,5vh);
    }
    #calendarHeader button {
        font-size: min(3vw,3vh);
    }
}

#calendarHeader button:hover {
	background: #8b8884;
	color: #fff;
}

#calendar {
    width: 100%;
    min-width: 1000px;
    min-height: 700px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 30px repeat(5,1fr);
    row-gap: 5px;
    column-gap: 5px;
    place-items: stretch;
}

#calendar .week-name {
    box-sizing: border-box;
	border: 1px solid #C2C2C2;
	background-color:  #EBEBEB;
    width: 100%;
    line-height: 30px;
    text-align: center;
}

#calendar .day {
    background-repeat:no-repeat;
    background-color: aliceblue;
    background-size:cover;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 40% [center-line] 60%;
    row-gap: 0px;
    grid-template-rows: 40% 20% 40%;
    place-items: center;
    border-radius: 10px;
    word-wrap: break-word;
    overflow: hidden;
}

#calendar .day p {
    font-family: 'Arial', Arial, monospace;
    font-weight: 600;
    color: #ff1111;
    font-size: min(1.5vh,1em) ;
    background-color: #00000036;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin: 5%;
}

#calendar .day .dayImg {
    grid-row: span 2;
    width: 90%;
    height: 90%;
    display: block;
}


#calendar .day p:first-child {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 5px;
    background-color: #b1fffba1;
    font-size: 1.5em;
    /* grid-row: span 2; */
    width: 75%;
    height: 75%;
    text-align: center;
    line-height: 1.5em;
}

#calendar .day p:last-child {
    width: 95%;
    overflow: hidden;
    word-wrap: break-word;
    text-align: center;
}

@media only screen and (min-width: 701px) {
    #calendar .day {
        
    }

    #calendar .day p {

    }

    #calendar .day p:first-child {
        
    }


  }

.calendarWrapper  {
    display: block;
    width: 100%;
    overflow-x: auto;
    padding: 10px 0px;
}

.listWrapper  {
    display: block;
    width: 100%;
    overflow-x: auto;
}

/* Modal style section */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: auto;
    cursor: pointer;
}

.modal-content {
	background-color: orange;
	border: 1px solid #888;
    box-shadow: 10px 10px 17px #CC8989;
    position: absolute;
    top: 5%;
    bottom: 5%;
    right: 5%;
    left: 5%;
	overflow-y: scroll;
}

.modal-close {
	color: #e60303;
	float: right;
	font-size: 6em;
	line-height: 0.5em;
	font-weight: 900;
	cursor: pointer;
}

.modal-body {
	display: grid;
	width: 100%;
    height: 100%;
	grid-template-columns: 8vw auto;
	grid-template-rows: repeat(3, auto);
	font-family: Arial, Helvetica, sans-serif;
	column-gap: 5px;
	font-size: 1em;
	place-items: center;
}

.modal-body p {
	padding: 5px;
    margin: 0 20px 0 5px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.modal-body div {
	text-align: center;
}

.modal-body p:nth-child(2n-1) {
    writing-mode: sideways-lr;
    -webkit-writing-mode: sideways-lr;
    -ms-writing-mode: sideways-lr;
}

.modal-body img {
	padding: 5px;
	width: 90%;
    height: 90%;
	object-fit: contain;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

#listOfBirthdays {
	padding: 4vh 1vw;
	width: 90vw;
	padding-inline-start: 0px;
    max-width: 1080px;
    margin: auto;
}

#listOfBirthdays li {
	display: grid;
    min-width: 325px;
	grid-template-columns: 24% 13% 22% 24% repeat(2,8%);
	grid-template-rows: 10vh;
	place-items: center;
    overflow: hidden;
    word-wrap: break-word;
	margin: 1vh;
	background-color: rgb(167, 167, 167);
	border-radius: 20px;
}

#listOfBirthdays li:first-child {
	background-color: #b1fffba1;
	grid-template-rows: 5vh;
}

#listOfBirthdays li button {
	height: 100%;
	width: 100%;
	border: none;
	background: none;
}

#listOfBirthdays li button img {
	width: inherit;
}

#listOfBirthdays li input, #listOfBirthdays li p {
	width: 90%;
    text-align: center;
}

#listOfBirthdays li div {
    width: 90%;
    height: 90%;
    display: block;
}

/*  styles for image zoomedOut and In  */
.zoomOut{
    width: 90%;
    height: 90%;
    object-fit: contain;
    cursor: zoom-in;
}

.zoomIn{
    position: fixed;
    width: 80vw;
    height: 80vh;
    top: 10vh;
    left: 10vw;
    cursor: zoom-out;
}

@media only screen and (min-width: 701px) {
    .zoomIn{
        position: fixed;
        width: 50vw;
        height: 50vh;
        top: 25vh;
        left: 25vw;
    }
}

.blur {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}