#personBirthDayAdd {
    margin: auto;
    width: 300px;
    --set-font-size: 1.0em;
    --inputs-width: 48%;
    --labels-width: 20%;
}

.formField {
    display: block;
    height: 50px;
}

#personBirthDayAdd input[type=text]
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
    width: 200px;
    float: right;
	outline: none;
}

#personBirthDayAdd span.required{
	color:red;
}
#personBirthDayAdd input[type=text]:focus{
	border: 2px solid rgb(4, 0, 255);
}

#personBirthDayAdd .valid{
	border: 2px solid rgb(68, 216, 0);
}

#personBirthDayAdd .invalid{
	border: 2px solid rgb(255, 0, 0);
}

#personBirthDayAdd .submitButton{
	border: none;
	padding: 8px 15px 8px 15px;
	background: #FF8500;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
#personBirthDayAdd .submitButton:hover{
	background: #EA7B00;
	color: #fff;
}